*{
  color:white;
}
.mainContent {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #666666;
}
.addbtn {
  margin-top: 10vh;
  margin-left: 5vw;
  padding: 40px;
  color: rgb(160, 156, 95);
  background-color:green;
  font: 100;
}
.pagetitle {
  background-color: maroon;
  text-align: center;
  padding: 10px;
}

.btnplacing {
  display: inline-block;
}
.taskTable {
  table-layout: auto;
  border: 1px solid black;
  margin-top: 10vh;
  width: -webkit-fill-available;
  text-align: -webkit-match-parent;
  border-collapse: collapse;
}

.th.theader {
  text-align: inherit;
  /* column-rule: black; */
}

/*floating button*/
.float-btn-div {
  margin-right: 30px;
  cursor: pointer !important;
  position: fixed;
  top: 40vh;
  right: 0;

}

.float-btn-div {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 20px;
  display: block;
  margin: 5px;
}
.tablebtn {
  background-color: green;
  float: right;
  padding: 4px;
}

.footer{
background-color: black;
margin-top: 10px;
width: 80%;
}

.modalStyle{
  color: black;
  text-align: center;
}

.inputbox{
  margin-left: 35%;
  padding: inherit;
}
.mainFooter{
  min-height: calc(100vh - 0px);
}

input{
  display: block;
}

/* Modal Design */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 49%;
}

/* The Close Button */
.close {
  color: red;
  float: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

 .modalBtn{
  display: inline-block;
  margin-top: 4vh;
} 

.taskTable{
  display: contents;
}