*{
  color:white;
}
body{
  background: url("/images/brickwall.jpg") no-repeat;
  background-size: cover;
}
.mainContent {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 5vh
  
}
.addbtn {
  margin: 5vh;
  margin-left: 5vw;
  padding: 40px;
  border-radius: 20px;
  color: rgb(160, 156, 95);
  background-color:green;
  font: bolder;
}
.pagetitle {
  background-color: maroon;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.container {
  display: inline-block;
}


.th.theader {
  text-align: inherit;
  /* column-rule: black; */
}

/*floating button*/
.float-btn-div {
  margin-right: 30px;
  cursor: pointer !important;
  position: fixed;
  top: 40vh;
  right: 0;

}
/* Bottoms styles */

.float-btn-div {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 20px;
  display: block;
  margin: 5px;
}

.savebtn{
  /* width: 55px; */
  height: 49px;
  border-radius: 50%;
  padding: 0px;
  display: block;
  margin: 3px;
  border: 1px solid;
  background:#4CAF50;
}
.deleteBtn{
  height: 49px;
  border-radius: 50%;
  padding: 0px;
  display: block;
  margin: 3px;
  border: 1px solid;
  background: maroon;

}

.backBtn {
  height: 49px;
  border-radius: 50%;
  padding: 0px;
  display: block;
  margin: 3px;
  border: 1px solid;
  background:blue;

}
.tablebtn {
  background-color: green;
  float: right;
  padding: 4px;
}


/* ############## FOOTER STYLES #################################### */
.mainFooter{
   background-color: maroon;
   position: fixed;
   bottom: 1%;
   width: 80%;
   text-align: center;
   border-radius: 10px;
}

.inputbox{
  margin-left: 35%;
  padding: inherit;
}


input{
  display: block;
}

/*#################### Modal Design ###################################### */
.modalStyle{
  color: black;
  text-align: center;
  border-radius: 20px;
  position: static;

}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 49%;
}

/* The Close Button */
.close {
  color: red;
  float: right;
}

.saveBtn {
  color: green;
 padding: 11px;
 border-radius: 10px;

}
.cancelBtn{
 color: red;
 padding: 11px;
 border-radius: 10px;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

 .modalBtn{
  display: inline-block;
  margin-top: 4vh;
} 

/* ######################## BOARD TABLE STYLES############################################## */
.boardTable{
  display: contents;
}

.boardTable {
  table-layout: auto;
  border: 1px solid black;
  margin-top: 10vh;
  width: -webkit-fill-available;
  text-align: -webkit-match-parent;
  border-collapse: collapse;
}

/*############################################# Task Table Design ############################*/
#taskTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 10px;

}

#taskTable td, #taskTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* #taskTable tr:nth-child(even){background-color: #f2f2f2;} */

#taskTable tr:hover {background-color: lightslategrey;}

#taskTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/* ################Form Desiigning ################################################ */

input[type=text], select, textarea {
  width: 136%;
  margin-left: -13px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background: transparent;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=save] {
  background-color: #4CAF50;
  padding: 12px 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.formcontainer {
  border-radius: 5px;
  padding: 20px;
}

.col-75, .col-25 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
hr {
  padding: 22px;
  background-color: darkgray;
  width: 125%;
  margin-left: -109px;
  border-radius: 10px;
}

