  <div class="mainContent">

    <div class="float-btn-div">
      <div>
         <a href="#" button class="" ><span><i class="fa fa-print fa-2x"></i> </span> Save</button> </a>
      </div>
      <div>
             <a href="#" button class="float-btn-div" ><span><i class="fa fa-print fa-2x"></i> </span> Delete</button> </a>
    
      </div>
      <div>
         <a href="#" button class="float-btn-div" ><span><i class="fa fa-print fa-2x"></i> </span> Back</button> </a>
      </div>
    </div>
      <div>
        <table class="taskTable">
          <thead>
            <tr>
              <th class="theader">S/N</th>
              <th class="theader"> Task</th>
              <th class="theader"> Assigned To</th>
              <th class="theader"> Priority Level</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>Remove the modal from the invoice</td>
              <td>Solomon shall take up the task</td>
              <td>High priority</td>
            </tr>
          </tbody>
        </table>
        
      </div>
  </div>
